.kaufman {
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: top right;
    background-size: 877px 877px;
    position: relative;
    background-color: #1f1f1f;
    overflow: hidden;
  }