.cards__item {
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    width: 240px;
    padding-left: 50px;
    padding-right: 50px;
    align-items: center;
    text-align: center;
}


.cards__item:nth-child(3n+1) {
    padding-left: 0;
}

.cards__item:nth-child(3n+3) {
    padding-right: 0;
}


